<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>


<button class="social-btn"><%= link_to "Follow Me On Twitter", "http://www.twitter.com"%></button>
<%= link_to "Follow Me On Instagram", "http://www.instagram.com", class:"social-btn"%>
